<div class="skinny_wrapper">
  <%= form_for @project do |f| %>
    <% if @project.errors.any? %>
      <h2><%= pluralize(@project.errors.count, "error") %>
    prevented this project from saving:</h2>
      <ul>
        <% @project.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>

    <%= f.label :title, "Name your project:" %><br/>
    <%= f.text_field :title %>

    <br/>
    <br/>

    <%= f.label :link, "Enter the url for your project here:" %><br/>
    <%= f.text_field :link %>

    <br/>
    <br/>

    <%= f.label :description, "Write your project here:" %><br/>
    <%= f.text_area :description %>

    <br/>
    <br/>

    <%= f.submit %>
  <% end %>
</div>
