<div id="post_show_content" class="skinny_wrapper wrapper_padding">
  <header>
    <h1 class="show_header"><%= @project.title %></h1>
    <p class="date"><%= @project.created_at.localtime.strftime('%^a, %d %B %Y | %H:%M') %></p>
    <hr />
  </header>

  <div id="content">
    <%= markdown @project.description %>
  </div>

  <div class="button_wrapper">
    <a href="<%= @project.link %>" class="project_button" target="_blank">Visit <%= @project.title %></a>
  </div>

  <% if user_signed_in? %>
    <div id="admin_links">
      <%= link_to "Edit Project", edit_project_path(@project) %> |
      <%= link_to "Delete Project", project_path(@project), method: :delete, data: {confirm: 'Are you sure about that, Ray?'} %>
    </div>
  <% end %>
  <hr />

  <div id="share_box">
    <p>Share '<%= @project.title %>'</p>
    <%= social_share_button_tag(@project.title) %>
  </div>

  <hr />


</div>
<script id="dsq-count-scr" src="//my-blog-e5ynn1p5qh.disqus.com/count.js" async></script>
