<!DOCTYPE html>
<html>
  <head>
    <title>Ray Climie - Developing Developer</title>

    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="main_navigation" class="clearfix">
      <a href="#" class="name">Ray Climie</a>
      <nav>
        <%= link_to "Articles", articles_path %>
        
        <a href="#">Projects</a>
        <a href="contact.html">Contact</a>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
